{% extends 'base.html.twig' %}

{% block title %}Auteur
{% endblock %}

{% block body %}
	<h1>Auteur</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ auteur.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ auteur.nom }}
					{{ auteur.prenom }}</td>
			</tr>
			<tr>
				<th>Biographie</th>
				<td>{{ auteur.biographie }}</td>
			</tr>
			<tr>
				<th>Livres</th>
				<td>
					<table class="table table-boredered table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Titre</th>
                                <th>Actions</th>
							</tr>
						</thead>
                        <tbody>
                            {% for livre in auteur.livres %}
                                <tr>
                                    <td>{{ livre.titre }}</dt>
                                    <td>
                                        <a href="{{ path('app_admin_livre_show', {id: livre.id}) }}">
                                            <i class="fa fa-book"></i>
                                        </a>
                                    </dt>
                                </tr>
                            {% endfor %}
                        </tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_auteur_index') }}">back to list</a>

	<a href="{{ path('app_admin_auteur_edit', {'id': auteur.id}) }}">edit</a>

	{{ include('admin/auteur/_delete_form.html.twig') }}
{% endblock %}
