{% extends "base.html.twig" %}

{% block body %}
    <h2>Valeur du tableau</h2>
    <ul>
        {% for indice, valeur in tableau %}
        <li>{{ indice ~ " : " ~ valeur }}</li>
        {% endfor %}
    </ul>

    <h3>Autre solution pour acceder aux valeurs d'un array associatif</h3>
    <p>Je m'appelle {{ tableau["nom"] }} {{ tableau.prenom }} et j'ai {{ tableau.age }} ans</p>
    <h2>La valeur de l'objet</h2>
    <p>Je m'appelle {{ objet.prenom }} {{ objet.nom }} et j'ai {{ objet.age }} ans.</p>
{% endblock %}