<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
            crossorigin="anonymous">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" 
            integrity="sha512-0S+nbAYis87iX26mmj/+fWt1MmaKCv80H+Mbo+Ne7ES4I6rxswpfnC6PxmLiw33Ywj2ghbtTw0FkLbMWqh4F7Q==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
  
        <!-- JS : jQuery, Bootstrap 4.6 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">
        </script>
  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" 
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" 
            crossorigin="anonymous">
        </script>
        <style>
            body{
                background-color: cadetblue;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{ include("nav.html.twig") }}
            {{ include("messages.html.twig") }}
            <h1>{% block titrh1 %}Bienvenue à la Bibliothèque{% endblock %}</h1>
            {% block body %}
                <p>Ceci est le contenu de la balise <code>block body</code> du fichier base.html.twig</p>
            {% endblock %}
        
            <footer>
                <p>Ceci est le footer</p>
            </footer>
        </div>
    </body>
</html>

{# COMMENTAIRES twig #}
{# 
    La syntaxe des balises TWIG:
    {% suivi du nom de la balise %}
    
    par exemple : {% block %}
    comme en HTML, il y a des balises simples et des balises avec fermetures
    {% block %} ..... {% endblock %}

    Pour remplacer les balises <?= ?>, dans TWIG on utilise {{ expression }}
#}