{% extends 'base.html.twig' %}

{% block title %}Abonne index{% endblock %}

{% block body %}
    <h1>Abonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}

            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.pseudo }}</td>
                <td>
                    {% for role in abonne.roles %}
                        {% if role == 'ROLE_USER' %}
                        Abonné

                        {% elseif role == 'ROLE_LECTEUR' %}
                        Lecteur

                        {% elseif role == 'ROLE_BIBLIO' %}
                        Bibliothecaire

                        {% elseif role == 'ROLE_ADMIN' %}
                        Directeur

                        {% endif %}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
                {# <td>{{ abonne.roles ? abonne.roles|json_encode : '' }}</td> #}
                <td>*********</td>
                <td>{{ abonne.nom }}</td>
                <td>{{ abonne.prenom }}</td>
                <td>
                    <a href="{{ path('app_admin_abonne_show', {'id': abonne.id}) }}">show</a>
                    <a href="{{ path('app_admin_abonne_edit', {'id': abonne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_abonne_new') }}">Create new</a>
{% endblock %}
