{% extends 'base.html.twig' %}

{% block title %}Abonne{% endblock %}

{% block body %}
    <h1>Abonne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonne.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ abonne.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ abonne.roles ? abonne.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>********</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ abonne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ abonne.prenom }}</td>
            </tr>
            <tr>
                <th>Emprunts</th>
                <td>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <th>ID</th>
                            <th>Livre</th>
                            <th>Emprunté le</th>
                            <th>Rendu le</th>
                        </thead>
                        <tbody>
                            {% for e in abonne.emprunts %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_admin_emprunt_show', {id: e.id}) }}">
                                            {{ e.id }}
                                        </a>
                                    </td>
                                    <td>{{ e.livre.titre }} <i>{{ e.livre.auteur.identite }}</i></td>
                                    <td>{{ e.sortie|date() }}</td>
                                    <td>{{ e.retour ?e.retour|date() : "à rendre" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_abonne_index') }}">back to list</a>

    <a href="{{ path('app_admin_abonne_edit', {'id': abonne.id}) }}">edit</a>

    {{ include('admin/abonne/_delete_form.html.twig') }}
{% endblock %}
